{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}SlipStream{% endblock %}</title>
<link rel="stylesheet" href="{% static "styles/main.css" %}" />
<link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}">
<script src="{% static "scripts/jquery-1.7.1.min.js" %}"></script>
<script src="{% static "scripts/bootstrap-dropdown.js" %}"></script>
<script src="{% static "scripts/bootstrap-modal.js" %}"></script>
</head>

<body>
{% block header %}
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="/">SlipStream</a>
                <ul class="nav" id="topNav">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav secondary-nav">
                    <li class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle">{{user.username}}</a>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                                <li><a href="{% url userprofile.views.me %}">View Profile</a></li>
                                <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
                                {% if user.is_staff %}
                                    <li class="divider"></li>
                                    <li><a href="/admin/">Admin</a></li>
                                {%endif %}
                            {% else %}
                                <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

<div class="container">
    <div id="content" class="content">
        {% block content %}{% endblock %}
    </div>
</div>
<footer class="footer">
    <div class="container">
        {% block footer %}
            Made by SlipStream, for you<br/>
            <!-- STATS: Total: %(totTime).2f Python: %(pyTime).2f DB: %(dbTime).2f Queries: %(queries)d -->
        {% endblock %}
    </div>
</footer>
</body>

</html>